h1 {
    color : rgb(216, 255, 75);
    text-shadow: rgb(251, 255, 0);
    text-underline : 2px;
}


        body {
            background-image: url("https://github.com/Shubhamxii2/My-first-webpage/blob/main/t7.jpg?raw=true");
            background-size: cover;
            background-repeat: no-repeat;
        }
