h1 {
    color : rgb(216, 255, 75);
    text-shadow: rgb(251, 255, 0);
    text-underline : 2px;
}


        body {
            background-image: url("Screenshot 2024-05-20 184521.png");
            background-size: cover;
            background-repeat: no-repeat;
        }
